@import '../../scss/colors.scss';

.input-container-main{
  display: flex;
  flex-direction: column;
  width: 100%;

  label{
    color: $text-color;
    font-weight: 500;
    padding: 0 2px;
    font-size: 14px;
    font-weight: 400;
    width: fit-content;
    position: relative;
    background-color: #fff;
    bottom: -8px;
    left: 5px;
  }

  & > input, select{
    background-color: transparent;
    border: 2px solid rgba(46, 38, 61, 0.24);
    color: $text-default-2;
    width: 100%;
    padding: 0 5px;
    transition: .1s;
  }

  input, select:hover {
    border: 2px solid rgba(46, 38, 61, 0.461);
  }

  input, select:focus{
    border: 2px solid rgba(46, 38, 61, 0.461);
    outline: none;
  }

  .default{
    height: 38px;
    border-radius: 4px;
  }

  .password-input-container{
    height: 38px;
    width: 100%;
    display: flex;

    input{
      height: 100%;
      width: 80%;
      background-color: transparent;
      border: 2px solid rgba(46, 38, 61, 0.24);
      border-right: none;
      border-radius: 5px 0px 0px 5px;
      color: $text-default-2;
      padding: 0 5px;
    }

    input:hover{
      border-right: none;
      border-color: 2px solid rgba(46, 38, 61, 0.461);
    }

    button:hover button{
      border-right: none;
      border: 2px solid rgba(46, 38, 61, 0.461);
    }

    button{
      width: 20%;
      background-color: transparent;
      border: 2px solid rgba(46, 38, 61, 0.24);
      border-left: none;
      border-radius: 0px 5px 5px 0px;

      path{
        fill: $text-color;
      }
    }
  }

  .divider{
    margin-top: 12px;
    font-size: 12px;
    font-weight: 500;
    color: $text-default-2;
  }
}

.file-input-container{
  height: 150px;
  width: 100%;
  background-color: transparent;
  border: 2px solid rgba(46, 38, 61, 0.41);
  border-radius: 5px 0px 0px 5px;
  color: $text-default-2;
  padding: 0 5px;

  input{
    visibility: hidden;
    position: absolute;
  }
}