@import '../../scss/colors.scss';

.aside-container-main{
  width: 20%;
  height: 100%;
  background-color: $primary; 
  z-index: 200;
  color: #fff;
  text-align: start;
 
h3{
  margin: 11.5%;
}

  button{
    background-color: transparent;
    width: 100%;
    padding: 20px 40px;
    color: #fff;
    border-radius: 0 50px 50px 0;
    box-shadow: none;
    transition: .3s;
    border: none;
    text-align: start;
    font-weight: 500;
    font-size: 16px;
  }

  button:hover{
    color: #fff;
    background-color: $primary-hover;
  }

}