$primary: #00205B;
$primary-hover: #00205B;

$secondary: #8A8D93;
$secondary-hover: #8A8D93;

$background-default: #E0E0E0;
$background-default-2: #FCFCFC;

$text-color: #524E59;
$text-default-1: #4F4B56;
$text-default-2: #9b97a3;

$success: #56CA00;
$success-hover: #46A400;

$warning: #FFB400;
$warning-hover: #CF9200;

$info: #16B1FF;
$info-hover: #1290CF;

$error: #FF4C51;
$error-hover: #CF3E42;